* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
                                        /*INDEX*/
#textarea{
    border-color: #007bff!important;
    position: relative;
    margin-top:15px !important;
    width: 1000px;
    margin-left: 27px;
    display: grid;
}
h6, h2{
    margin-left: 27px;

}
.noticias{
    background-color: white;
    border-radius: 7px;
    -webkit-box-shadow: 1px 0px 14px -5px rgba(0,0,0,0.73); 
    box-shadow: 1px 0px 14px -5px rgba(0,0,0,0.73);
    width: 95%;
    margin-top:22px !important;
    margin-left: 15px;

}
#card{
    top:15px !important;
    width: 1000px;
    margin-left: 27px;
    display: grid;
    position: relative;
}
#btnComentar{
    position: relative;
    left: 930px;
    top:-10px;
}
img{
    height: 100%;
    width: 100%;
}
.clear{
    clear: both;
}

#reaction{
    display: table-cell;
    top: 8px;
    left: 27px;
}
                /***************************************************/

                                        /*CADASTRO*/
.fundo{
    width: 50%;
    height: 650px;
    margin-top: 50px;
    margin-left: 250px;
    border: solid 1px #ccc;
    border-radius: 30px;
    padding: 10px;
    -webkit-box-shadow: 10px 10px 18px -1px rgba(181, 172, 181, 0.48);
    -moz-box-shadow: 7px 10px 18px -1px rgba(181, 172, 181, 0.48);
    box-shadow: 7px 10px 18px -1px rgba(181, 172, 181, 0.48);
}

label{
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: #212529;
}

                /***************************************************/
